// Avenir light
@font-face {
  font-family: 'Avenir Light';
  src: url('assets/fonts/Avenir-Light.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Avenir-Light.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Avenir-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  200;
}

// Avenir light oblique
@font-face {
  font-family: 'Avenir-LightOblique';
  src: url('assets/fonts/Avenir-LightOblique.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Avenir-LightOblique.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Avenir-LightOblique.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   oblique;
  font-weight:  200;
}

// Avenir Book
@font-face {
  font-family: 'Avenir Book';
  src: url('assets/fonts/Avenir-Book.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Avenir-Book.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Avenir-Book.svg#589202c858e9ee116eab4a8685515b5e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



