body{
	.content{
		section{
			width:100%;
			height:100%;
			background:#000;
			float:left;
		}
		#section-movie-header-poster{
			#film-header-poster{
				.image-container{
				width:100%;
				height:630px;
				overflow:hidden;
				}
				.row-rs-buttons{
					background:#121212;
					width:100%;
					padding-top:20px;
					padding-bottom: 20px;
					display:inline-block;
					.group-buttons-rs{
						display: block;
						margin-left: auto;
						margin-right: auto;
						width:960px;
						.group-button-rs{
							width:31%;
    						background-color: #202020;
    						margin-right:20px;
    						a{
    							color:#cecece;
    							font-size:16px;
    							text-transform: uppercase;
    							font-weight: bold;
    							letter-spacing: 2px;
    							a:visited, a:link{
    								text-decoration:none;
    								color:#cecece;
    							}
    						}
						}
					}
				}
			}
		}
		#section-movie-embed-trailer{
			#movie-embed-trailer{
				.trailer-header{
					margin-top: 60px;
					margin-bottom:30px;
					.row{
						background:#000;
						.trailer-header-title{
							margin-bottom:20px;
						    color:#cecece;
						    span{
						    	font-size: 36px;
						    }
						}
					}
				}

				.row-rs-buttons{
					background:#000;
					width:100%;
					padding-bottom: 20px;
					display:inline-block;
					.group-buttons-rs{
						display: block;
						margin-left: auto;
						margin-right: auto;
						width:960px;
						.group-button-rs{
							width:31%;
    						line-height: 48px;
    						background-color: #202020;
    						margin-right:20px;
    						a{
    							color:#cecece;
    							font-size:16px;
    							text-transform: uppercase;
    							font-weight: bold;
    							letter-spacing: 2px;
    							a:visited, a:link{
    								text-decoration:none;
    								color:#cecece;
    							}
    						}
						}
					}
				}
			}
		}


		#section-informations-movie{
			#informations-movie{
				margin-top:60px;
				margin-bottom: 40px;
				background-color: #121212;
				.informations{
					padding-top:10px;
					padding-bottom:30px;
					background-color:#121212;
					color:#cecece;

					.title{
						font-size: 36px;
						margin-bottom: 10px !important;
					}
					.release-date{
						font-size: 24px;
						span{
							font-size: 24px !important;
						}
					}

					.synopsis{
						line-height: 30px;
						color:#818181;
						font-size: 12px;
					}

					.comp-informations{
						height:48px;
						p{
							font-size: 14px;
							color:#818181;
							span{
								font-size: 24px;
								color:#cecece;
							}
						}
					}
					.comp-informations-text{
						padding-top: 10px;
					}
				}
			}
		}

		.section-gallery{
			#gallery{
				margin-top:30px;
				margin-bottom: 30px;
				.section-title{
					color:#cecece;
					font-size: 36px;
					margin-bottom: 10px;
				}
			}
		}

		#section-poster-movie{
			#poster-movie{
				margin-top:30px;
				margin-bottom: 30px;
				.poster{
					.section-title{
						color:#cecece;
						font-size: 36px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}


.clear{
	clear:both;
}

.image-container img{
	width:100%;
	height: auto;
}

img{
	border:0 !important;
	padding:0px !important;
}


.img-carrousel{
	width:240px;
	height:140px;
	margin-right:15px;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    position: absolute;
    top: -15px;
    right: -55px;
   
    z-index:100;
}

.thumbnail{
	background: transparent;
	border:none;
}


.info-basic{
	position: absolute; 
    top: 250px; 
    left: 0; 
    width: 100%;
    .title-movie{
    	font-size: 86px;
    	text-transform: uppercase;
    	color:#ff6fbe;
    }
    .item{
    		line-height: 56px;
    		font-size: 36px;
    		color:#bebebe;
    		font-family: 'journalregular';
    	} 
}



.button-movie{
	display:block;
	width:276px;
	margin:auto;
}

i{
	display: inline;
	color: #e31d1a;
	margin-right:5px;
	font-size: 24px;
}



#footer {
	padding: 70px 0px 0px 0px;
	/*  background: url(../img/contact-bg.jpg) center center no-repeat;  */
	background-color: #121212;
	background-size: cover;
	position:relative;
}


/* Socials buttons */

.social-buttons li {
	text-align: center;
	padding: 0px 20px;
	width: 31.7%;
	list-style: none;
	float:left;
	margin: 30px 0px;
}

.social-buttons a {
	color: #fff !important;
}

.social-buttons li span {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	display:inline-block;
	padding-top: 25px;
	padding-bottom: 7px;
	border-bottom: 1px solid rgba(0,0,0,0);
}

.social-buttons li:hover span {
	margin-top: -6px;
	margin-bottom: 6px;
	color: #fb0000;
	border-bottom: 1px solid #fff;
}

.social-buttons li .fa {
	display: inline-block;
	width: 100%;
	font-size: 48px !important;
}

@media(max-width:767px) {
    .social-buttons li {
		width: 100%;
    }

	.social-buttons li .fa {
		font-size: 62px;
	}
}


.copyright {
	position:relative;
	padding: 30px 0px;
	line-height: 24px;
}

.mobile{
	display:none;
}


@media(max-width:767px) {

.row-rs-buttons{
	width:30%;
}
	.group-button-rs{
		width:10% !important;
	}
	.button-movie{
		width:10%;
		font-size:8px !important;
		text-transform: initial;
		margin:0;
		letter-spacing: 0.7px;
	}

	.title-movie{
		font-size:56px !important;
	}

	.item {
		font-size:26px !important;
	}

	.info-basic{
		top:0px !important;
		left:0px !important;
	}

	.image-container{
		height:inherit !important;
	}

	.comp-informations-title{
		line-height: 16px;
		.title{
			display:none !important;
		}
	}
	.comp-informations-title{
		height:0px !important;
		width:0px !important;
	}

	.genre{
		display: initial !important;
	}

	.mobile{
		display:initial !important;
		color:#fff !important;
	}

	.comp-informations{
		height:inherit !important;
	}
}
